<div class="p-10">
  <div class="flex justify-center">
    <p *ngIf="resizedImages.length == 0">
      No images yet. Head over to the
      <span>
        <a routerLink="/upload" class="mx-2"> upload page</a> to get started.
      </span>
    </p>

    <p class="my-2">
      Back to <a routerLink="/upload" class="mx-2"> upload page</a> to get
      started.
    </p>
  </div>

  <div>
    <div *ngIf="resizedImages.length > 0" class="grid grid-cols-5 gap-2">
      <img
        *ngFor="let imageObject of resizedImages"
        [src]="
          imageUrl +
          imageObject['attributes']['image']['data'][0]['attributes']['url']
        "
        [alt]="
          imageObject['attributes']['image']['data'][0]['attributes']['name']
        "
        class="w-48 h-48"
      />

      <!-- Add more images here -->
    </div>
  </div>
</div>
